* {
    box-sizing: border-box;
}

html,body{
    font-family: 'Raleway', Sans-serif;
    margin: 0px auto;
    max-width: 1199px;
}
header, section {
    padding-right: 30px;
    padding-left: 30px;
}
h2 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* COLORS */
.blue{
    color: #0065FC;
}
.lightblue{
    color: #DEEBFF;
}
.lightgrey{
    color: #F2F2F2;
}
/* HEADER */
.logo {
    width: 120px;
    height: 50px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
}
.header-nav-links a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99px;
}
.header-nav-hebergements, .header-nav-activities {
    width: calc(100% / 2);
}
.header-nav-hebergements a {
    color: #0065FC;
    border-top: 1px solid #0065FC;
}
/* SEARCH & FILTERS */
.block-search, .block-search div {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.block-search {
    justify-content: flex-start;
}
.block-search button:nth-child(2) {
    border: none;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    font-family: 'Raleway';
}

.block-search-form, .form-search-txt {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.form-search-txt {
    border: none;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;

}
.block-search-icon{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}
.block-search-btn{
    height: 50px;
    width: 120px;
    color: #F2F2F2;
    background-color: #0065FC;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.search-btn-icon {
    display: none;
}
.block-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 25px 0px 25px 0px;
}
.header-filters, .filters-text-icon {
    margin-right: 20px;
    margin-bottom: 10px;
}
.filters-text-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
}
.filters-icon, .filters-txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.filters-txt {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filters-icon {
    margin-left: -2px;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
}
.filters-text-icon:hover > .filters-txt{
    color: #0065FC;
}
.filters-text-icon:hover > .filters-icon{
    color: #F2F2F2;
    background-color: #0065FC;
}
/* INFO */
.block-info, .block-info-icon {
    display: flex;
    align-items: center;
}
.block-info {
    margin-bottom: 25px;
}
.block-info-icon{
    justify-content: center;
    width: 25px;
    height: 25px;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}
.filters-txt {
    font-weight: bold;
}
/* HEBERGEMENTS */
#hebergements-populaires a, #activities a {
    text-decoration: none;
    color: black;
}
.section-hebergements-populaires, .block-cartes-hebergements {
    display: flex;
    flex-wrap: wrap;
}
.section-hebergements-populaires h3 {
    font-size: 12px;
}
.section-hebergements-populaires p {
    font-size: 10px;
}
.section-hebergements, .section-populaires {
    padding: 30px;
    background-color: #F2F2F2;
}
.section-hebergements{
    flex: 2;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 20px;
    padding-right: 0px
}
.section-populaires{
    flex: 1;    
    border-radius: 20px;
}
.carte-hebergement{
    background-color: #fff;
    border: 5px solid #fff;
    margin: 0px 30px 30px 0px;
    border-radius: 20px;
    overflow: hidden;
    width: calc(100% / 3 - 30px);
    box-sizing: border-box;
    box-shadow: 5px 5px 5px 1px #eeeeee;
}
.carte-details{
    margin: 0px;
}
.carte-details h3, .carte-details p {
    white-space: nowrap;
    margin: 0px;
    padding: 0px 0px 5px 5px;
}
.carte-details div {
    padding-left: 5px;
}
.carte-img-hebergement {
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.footer-hebergements p {
    font-weight: bold;
    margin: 0px;
}
/* POPULAIRES */
.header-populaires {
    display: flex;
    justify-content: space-between;
}
.block-cartes-populaires {
    height: 100%;
}
.carte-populaire{
    background-color: #fff;
    border: 5px solid #fff;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 1px #e2e2e2;
    height: calc(100% / 3 - 40px);
}
.carte-populaire a {
    display: flex;
    height: 100%;
}
.carte-details-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 5px 10px;
}
.carte-details-populaires h3 {
    margin: 0px;
}
.carte-details-populaires p {
    margin-top: -30px;
}
.carte-img-populaire {
    width: 30%;
    object-fit: cover;
}
/* ACTIVITES */
.header-activities{
    margin-top: 50px;
    margin-bottom: 25px;
}
.block-activities h3 {
    font-size: 16px;
}
.block-activities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
    grid-auto-flow: column;
}
.block-activities :nth-child(1) {
    grid-column: 1;
}
.block-activities :nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-start;
}
.block-activities :nth-child(3) {
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
}
.block-activities :nth-child(4) {
    grid-column: 3;
}
.block-activities :nth-child(5) {
    grid-column: 4;
    grid-row: 1;
    align-self: flex-start;
}
.block-activities :nth-child(6) {
    grid-column: 4;
    grid-row: 1;
    align-self: flex-end;
}
.card-activities{
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    overflow: hidden;
}
.card-details-activities{
    padding-left: 10px;
}
.card-img-activities {
    width: 100%;
    object-fit: cover;
}
.card-img-activitie-530{
    height: 430px;
}
.card-img-activitie-250{
    height: 220px;
}
.card-img-activitie-150{
    height: 120px;
}
.card-img-activitie-170{
    height: 145px;
}
.card-img-activitie-220{
    height: 195px;
}
/*.block-activities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.block-activities-b{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 4 - 30px);
    height: 600px;
}
.card-activities{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-activities-b{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.card-details-activities{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 70px;
}
.card-img-activities {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.card-img-activitie-530{
    height: 530px;
}
.card-img-activitie-250{
    height: 250px;
}
.card-img-activitie-150{
    height: 150px;
}
.card-img-activitie-170{
    height: 170px;
}
.card-img-activitie-220{
    height: 220px;
}
*/
/* FOOTER */
.block-footer{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    margin-top: 60px;
    padding-bottom: 30px;
}
.footer-navigation-list{
    list-style-type: none;
    width: calc(100% / 3);
    box-sizing: border-box;
}
.footer-navigation-list li {
    margin-bottom: 10px;
}
/* TABLETS */
@media screen and (max-width: 992px) {
    .section-hebergements-populaires {
        flex-direction: column-reverse;
        padding-right: 0px;
        padding-left: 0px;
    }
    .section-hebergements-populaires h3 {
        font-size: 14px;
    }
    .section-hebergements-populaires p {
        font-size: 12px;
    }
    .section-populaires {
        border-radius: 0px;
    }
    .carte-populaire {
        height: 200px;
    }
    .carte-details-populaires p {
        margin-top: -100px;
    }
    .section-hebergements {
        background-color: #fff;
        margin: 0px;
    }
    .carte-hebergement {
        box-shadow: 5px 5px 5px 1px #f2f2f2;
    }
    .carte-img-hebergement {
        height: 20vw;
    }
    .header-activities {
        margin-top: 0px;
    }
    /*
    .block-activities {
        flex-direction: column;
    }
    */
}
/* SMARTPHONES */
@media screen and (max-width: 768px) {
    .logo {
        display: block;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    header {
        padding: 0px;
    }
    .header-nav {
        display: block;
        width: 100%;
    }
    .header-nav-links {
        width: 100%;
    }
    .block-search {
        justify-content: center;
    }
    .header-nav-hebergements a, .header-nav-activities a {
        height: 50px;
        font-size: larger;
    }
    .header-nav-hebergements a {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    .header-nav-activities a {
        color: black;
        border-top: none;
        border-bottom: 3px solid #f2f2f2;
    }
    .header-filters {
        width: 100%;
    }
    .section-search-filters {
        padding-top: 15px;
    }
    .block-search {
        width: 100%;
        margin: auto;
    }
    .search-btn-txt {
        display: none;
    }
    .block-search-btn {
        width: 50px;
    }
    .search-btn-icon {
        display: inline-block;
        border: none;
        color: white;
        background-color: #0065FC;
        cursor: pointer;
    }
    .header-populaires, .header-hebergements {
        padding-top: 15px;
    }
    .block-cartes-hebergements, .carte-hebergement {
        height: auto;
        width: 100%;
    }
    .block-activities {
        display: inline;
    }
    .block-activities .card-img-activities {
        height: 200px;
    }
    .card-activities {
        margin-bottom: 30px;
    }
    /*.block-activities, .carte-activities, .block-activities-b {
        height: auto;
        width: 100%;
    }
    
    .carte-activities, .card-activities-b {
        margin-bottom: 30px;
    }
    .carte-img-activitie-530, .carte-img-activitie-250, .carte-img-activitie-170, .carte-img-activitie-150, .carte-img-activitie-220 {
        height: 30vw;
    }
    */
    .block-footer {
        flex-direction: column;
    }
    .footer-navigation-list {
        width: 100%;
    }
}