html,body{
    font-family: 'Raleway', Sans-serif;
    max-width: 1200px;
    margin: 0px auto;
}
h2 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}
/* GENERAL */
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolumncentre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolumnaround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumnbetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.flexwrap{
    flex-wrap: wrap;
}
.decorationnone{
    text-decoration: none;
}
.decorationcarte{
    text-decoration: none;
    color: black;
}
.bordernone{
    border: none;
}
.textbold{
    font-weight: bold;
}
.nav-size{
    height: 100px;
}
.sizeliens{
    width: 100%;
}
.sizelien{
    width: 140px;
    height: 99px;
}
.bordurenav{
    border-top: 1px solid #0065FC;
}
.blue{
    color: #0065FC;
}
.lightblue{
    color: #DEEBFF;
}
.lightgrey{
    color: #F2F2F2;
}
.bgblue{
    background-color: #0065FC;
}
.bglightblue{
    background-color: #DEEBFF;
}
.bglightgrey{
    background-color: #F2F2F2;
}

/* HEADER */
.logo {
    width: 120px;
    height: 50px;
}
.borduresearch{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}
.paddingsearch{
    padding-left: 20px;
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconsize{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.btnsearch{
    height: 50px;
    width: 120px;
    color: #F2F2F2;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
/* FILTRES */
.filtre{
    display: flex;
    align-items: center;
}
.marginfiltre{
    margin-top: 50px;
    margin-bottom: 40px;
}
.marginfiltretitle{
    margin-right: 20px;
}
.filtretexticons{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtretexticons:hover > .filtretext{
    color: #0065FC;
}
.filtretexticons:hover > .filtreicons{
    color: #F2F2F2;
    background-color: #0065FC;
}
.filtretext{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreicons{
    margin-left: -2px;
    border-radius: 27px;
    width: 54px;
    height: 54px;
    color: #0065FC;
    background-color: #DEEBFF;
}
/* INFO ICON */
.info{
    display: flex;
    align-items: center;
}
.parenticon{
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 5px;
}
/* HEBERGEMENTS */
#hebergements-populaires a, #activities a {
    text-decoration: none;
    color: black;
}
.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.section-hebergements, .section-populaires {
    padding: 30px;
}
.bloc-cartes-hebergements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-hebergements{
    flex: 2;
    flex-direction: row;
    margin-right: 30px;
    border-radius: 20px;
    padding-right: 0px
}
.section-populaires{
    flex: 1;    
    border-radius: 20px;
}
.carte-hebergement{
    background-color: #fff;
    border: 5px solid #fff;
    margin: 0px 30px 30px 0px;
    border-radius: 20px;
    overflow: hidden;
    width: calc(100% / 3 - 30px);
    box-sizing: border-box
}
.carte-details{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.carte-img-hebergement {
    width: 100%;
    height: 10vw;
    object-fit: cover
}
/* POPULAIRES */
.header-populaires {
    display: flex;
    justify-content: space-between;
}
.bloc-cartes-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.carte-populaire{
    background-color: #fff;
    border: 5px solid #fff;
    margin-bottom: 30px;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.carte-populaire a {
    display: flex;
}
.carte-details-populaires{
    width: 60%;
    padding: 10px;
    margin-left: 10px;
    box-sizing: border-box;
}
.carte-img-populaire {
    width: 30%;
    height: auto;
    object-fit: cover;
}
/* ACTIVITES */
.section-activities{
    margin-top: 50px;
    margin-bottom: 50px;
}
.block-activities{
    width: 100%;
    height: 600px;
}
.block-activities-2356{
    width: 23%;
    height: 600px;
}
/* BLOCK SETTINGS */
.carte-activities{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.carte-activities-2356{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
/* END BLOCK SETTINGS */
.carte-details-activities{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
    height: 70px;
}
.carte-img-activities {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.carte-img-activitie1{
    height: 530px;
}
.carte-img-activitie2{
    height: 250px;
}
.carte-img-activitie3{
    height: 150px;
}
.carte-img-activitie4{
    height: 530px;
}
.carte-img-activitie5{
    height: 170px;
}
.carte-img-activitie6{
    height: 220px;
}
/* FOOTER */
.footer{
    height: 200px;
    margin-top: 50px;
}
.sizeblockfooter{
    height: 150px;
}
.marginleftfooter{
    margin-left: 2.5%;
}
.marginrightfooter{
    margin-right: 25%;
}
/* RESPONSIVE */
